/* Layout Wrapper CSS */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
}

.layout__main {
    flex: 1; /* Automatically pushes the footer to the bottom if content is short */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
}
